<nav>
    <div class="navbar">
        <a class="navbar-section" id="navbarLeft" href="/">
            <img class="navbar-brand" src="/images/azores.svg" alt="">
            <p class="navbar-brand" id="navBrand">Azores</p>
        </a>
        <div class="navbar-section">
            <% if(!currentUser) { %>
                <% } else { %>
                    <select name="communities" id="community-select" onchange="location = this.value">
                        <option value=""></option>
                        <% try { %>
                            <% for (let community of communities) { %>
                                <option value="/c/<%=community._id %>">
                                    <%- community.name %>
                                        <% } %>
                                            <% } catch { %>
                                                <option value="">
                                                    Join a community!
                                                <% } %>

                    </select>
                    <% } %>
        </div>
        <div class="navbar-section" id="navbarMid">
            <input type="text" name="search" id="searchBar" placeholder="Search Azores">
            <button id="searchBarBtn" onclick="location.href='/c/'"></button>
        </div>
        <div class="navbar-section" id="navbarRight">
            <% if (!currentUser) {%>
                <a href="/user/login" class="navbar-link">Login</a>
                <button onclick="location.href='/user/register'" type="button" class="navbar-link" id="registerBtn">Sign
                    Up</button>
                <% } else { %>
                    <p class="navbar-text">Welcome,
                        <a href="/user/<%= currentUser._id%>" class="navbar-text bold">
                            <%- currentUser.username %>
                        </a>
                    </p>
                    <button onclick="location.href='/user/logout'" type="button" class="navbar-link" id="logoutBtn">Log
                        Out</button>
                    <% } %>
        </div>
    </div>

</nav>