<nav>
    <div class="navbar">
        <a class="navbar-section" id="navbarLeft" href="/">
            <img class="navbar-brand" src="/images/azores.svg" alt="">
            <p class="navbar-brand" id="navBrand">Azores</p>
        </a>
        <div class="navbar-section" id="navbarMid">
            <input type="text" name="search" id="searchBar" placeholder="Search Azores">
        </div>
        <div class="navbar-section" id="navbarRight">
            <a href="/users/login" class="navbar-link">Login</a>
            <button onclick="location.href='/users/register'" type="button" class="navbar-link" id="registerBtn">Sign Up</button>
        </div>
    </div>

</nav>