<% layout('layouts/boilerplate') %>
    <ul>
        <div class="posts">
        </div>

        <div class="loader">
            <img src="/images/loading.svg" alt="">
        </div>
    </ul>
    <script src="/javascripts/infinitescrollIndex.js"></script>