<% layout('layouts/boilerplate') %>
    <% if ( error !='' ) { %>
        <div class="flash-alert alert-warning" id="alert">
            <p class="flash-alert-message">Message:
                <%= error %>
            </p>
        </div>
        <% } %>
            <% if ( success !='' ) { %>
                <div class="flash-alert alert-success" id="alert">
                    <p class="flash-alert-message">
                        <%= success %>
                    </p>
                </div>
                <% } %>
                    <% try { %>
                        <%for (let post of posts) { %>
                            <p>
                                <%- post.title %>
                            </p>
                            <p>
                                <%- post.body %>
                            </p>
                            <hr>
                            <% } %>
                                <% } catch { %>
                                    <p>No content :(</p>
                                    <% } %>