<% layout('layouts/boilerplate') %>
    <ul>
        <div class="posts">
        </div>

        <div class="loader">
            <img src="/images/loading.svg" alt="">
        </div>
    </ul>
    <% if (!currentUser) { %>
        <script src="/javascripts/infinitescrollIndexNU.js"></script>
        <% } else { %>
            <script src="/javascripts/infinitescrollIndex.js"></script>
            <% } %>