<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="shortcut icon" href="./images/azores.svg" type="image/x-icon">
    <link rel="stylesheet" href="./stylesheets/reset.css">
    <link rel='stylesheet' href='./stylesheets/style.css' />
</head>

<body>
    <%- include('./partials/navbar') %>



</body>
<script src="./javascripts/dropdown.js">
</script>

</html>