<% layout('layouts/boilerplate') %>
    <% try { %>
        <% for (let community of communities) { %>
            <p>
                <%- community.name %>
            </p>
            <% } %>
                <% } catch { %>
                    <p>No content :(</p>
                    <% } %>