<% layout('layouts/boilerplate') %>
    <% if ( error !='' ) { %>
        <div class="flash-alert alert-warning" id="alert">
            <p class="flash-alert-message">Message:
                <%= error %>
            </p>
        </div>
        <% } %>
            <% if ( success !='' ) { %>
                <div class="flash-alert alert-success" id="alert">
                    <p class="flash-alert-message">
                        <%= success %>
                    </p>
                </div>
                <% } %>