<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="shortcut icon" href="./images/azores.svg" type="image/x-icon">
    <link rel="stylesheet" href="./stylesheets/reset.css">
    <link rel='stylesheet' href='./stylesheets/style.css' />
</head>

<body>
    <%- include('./partials/navbar') %>

        <p><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum aliquid quaerat voluptas! Consequuntur beatae ullam quia facere error doloremque. Sit ipsum ducimus corrupti esse sed ad commodi saepe numquam praesentium.</span><span>Aperiam nesciunt unde maxime, ipsa quidem, quam, architecto reprehenderit exercitationem libero ea eos debitis. Alias quasi porro recusandae quae tenetur, magni voluptatem officia ipsa eius, corporis culpa nisi enim suscipit.</span><span>Sunt aut ipsa ut et, deserunt ex adipisci reiciendis ipsum eius, dolorum suscipit fugit, voluptas autem incidunt. Ex soluta, laudantium magni, temporibus iure cupiditate aliquid voluptates unde consequatur consectetur adipisci.</span><span>Repellat labore dolores velit voluptas molestias nesciunt totam sit architecto blanditiis natus reiciendis magni cum aliquam accusamus, adipisci sed dolor in. Tenetur totam eum modi pariatur perferendis quaerat cumque minus?</span><span>Veniam mollitia expedita consequuntur, voluptas molestiae voluptatem ipsa alias sapiente repellendus debitis magni, veritatis inventore earum doloribus magnam ab sequi, saepe incidunt. Accusamus ducimus incidunt nihil ullam quis impedit laudantium.</span></p>

</body>
<script src="./javascripts/dropdown.js">
</script>

</html>