<% layout('layouts/boilerplate') %>

    <div class="form">
        <div class="form-title">
            <img class="form-logo" src="../images/azores.svg" alt="">
            <h1>Login</h1>
        </div>
        <form action="/login" method="POST" class="form-validated" novalidate>
            <div class="form-input">
                <input class="form-control username" type="text" name="username" id="username" autofocus required placeholder="Username">
                <!-- <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please enter a valid username.
                </div> -->
            </div>
            <div class="form-input">
                <input class="form-control password" type="password" name="password" id="password" placeholder="Password" required>
                <!-- <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please enter a password.
                </div> -->
            </div>
            <div class="form-input" id="checkbox">
                <input type="checkbox" class="form-control" name="rememberMe" id="rememberMe">
                <label for="rememberMe">Keep me signed in</label>
            </div>
            <button class="form-button btn-primary">Login</button>
        </form>
    </div>