.community {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
}

.community-banner {
    padding-top: 3rem;
    width: 100%;
    text-align: center;
    background-color: aqua;
    max-width: 100vw;
    background-size: contain;
}

.community-banner img {
    border-radius: 10rem;
    outline: solid black;
}

.community-name {
    font-weight: 700;
    font-size: 3rem;
}

.post {
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 1rem 3rem;
    background-color: gray;
    padding: 1rem 0;
}

.post-row {
    display: flex;
    flex-direction: row;
}

.post-section {
    margin-left: 1rem;
}

.post-section img {
    max-width: 3rem;
}

.post-title,
.post-section a {
    color: blue;
}


/*  ===========
    Sidebar
    ===========  */

.sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 15rem;
    position: absolute;
    z-index: 2;
    top: 27.2rem;
    right: 0;
    background-color: lightgray;
    overflow-x: hidden;
    align-items: center;
}