.community-banner img {
    cursor: pointer;
}

.img-fluid {
    min-width: 5rem;
}

.post-main {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    background-color: var(--white);
    padding: 1rem 1rem;
    border-radius: .1rem;
    justify-content: flex-start;
}

.post-title {
    color: black;
}

.post-body {
    border-color: var(--lightgrey);
    border-radius: .2rem;
    outline: solid var(--lightgrey);
    padding: .5rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    max-width: 95%;
    line-height: 1.5;
    color: var(--grey)
}

.post-row {
    align-items: flex-start;
}

.post-section textarea {
    margin: 1rem 0;
}

hr {
    margin: 1rem 0;
}

.post-row:target {
    outline: .2rem solid var(--lightblue);
    background-color: rgba(255, 255, 0, 0.25);
    border-radius: .5rem;
    animation-name: highlight;
    animation-duration: 1s;
}

@keyframes highlight {
    from {
        outline-width: .5rem;
    }
    to {
        outline-width: .2rem;
    }
}