<% layout('layouts/boilerplate') %>
    <div class="form">
        <div class="form-title">
            <img class="form-logo" src="/images/azores.svg" alt="">
            <h1>Edit
                <%- community.name %>
            </h1>
        </div>
        <form action="/c/<%= community._id %>?_method=PUT" method="POST" class="form-validated">
            <div class="form-input">
                <input class="form-control important" type="text" name="community[name]" id="name" autofocus required placeholder="Community Name">
            </div>
            <button class="form-button btn-primary">Edit Community</button>
        </form>
        <a href="/c/<%= community._id%>">Back to Community</a>
    </div>