<link rel="stylesheet" href="/stylesheets/build/modal.css">
<div id="loginModal" class="modal">
    <div class="modal-content">
        <div class="form">
            <span class="close">&times;</span>
            <div class="form-title">
                <img class="form-logo" src="/images/azores.svg" alt="">
                <h1>Login</h1>
            </div>
            <form action="/auth/login" method="POST" class="form-validated" novalidate>
                <div class="form-input">
                    <input class="form-control username" type="text" name="username" id="username" autofocus required placeholder="Username">
                </div>
                <div class="form-input">
                    <input class="form-control password" type="password" name="password" id="password" placeholder="Password" required>
                </div>
                <div class="form-input" id="checkbox">
                    <input type="checkbox" class="form-control" name="rememberMe" id="rememberMe">
                    <label for="rememberMe">Keep me signed in</label>
                </div>
                <button class="form-button btn-primary">Login</button>
            </form>
        </div>
    </div>
</div>
<div id="registerModal" class="modal">
    <div class="modal-content">
        <div class="form">
            <span class="close">&times;</span>
            <div class="form-title">
                <img class="form-logo" src="../images/azores.svg" alt="">
                <h1>Register</h1>
            </div>
            <form action="/auth/register" method="POST" class="form-validated">
                <div class="form-input">
                    <input class="form-control email" type="text" name="email" id="email" autofocus required placeholder="Email">
                </div>
                <div class="form-input">
                    <input class="form-control username" type="text" name="username" id="username" required placeholder="Username">
                </div>
                <div class="form-input">
                    <input class="form-control password" type="password" name="password" id="password" placeholder="Password (4-24 characters)" minlength="4" maxlength="24" required>
                </div>
                <div class="form-input">
                    <input class="form-control password" type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password" required>
                </div>
                <div class="form-input" id="checkbox">
                    <input type="checkbox" class="form-control" name="acceptToS" id="acceptToS" required>
                    <label for="acceptToS">I accept the <a onclick=" window.open('/terms','_blank')">Terms of Services</a>.</label>
                </div>
                <button class="form-button btn-primary">Sign Up</button>
            </form>
        </div>
    </div>
</div>